extends layout
block header
    script(src='/javascripts/scripts.js')

block content
    div
    .row
        .col-md-4
        .col-md-4.mx-auto(style='padding-left: 3%; padding-right: 3%; text-align: center;')
                div(id='root' class='container' style='margin:20px')
        .col-md-4


